.breadcrumbs {
  background-color: $silver-100;
  &__list {
    display: flex;
    padding: 24px 0;
  }
  &__item {
    position: relative;
    margin-right: 6px;
    padding-right: 10px;
    letter-spacing: 0.03em;
    line-height: 1.2;

    &::before {
      @include pseudo;
      top: 4px;
      right: 0px;
      width: 8px;
      height: 8px;
      border-top: 1px solid $silver-600;
      border-right: 1px solid $silver-600;
      transform: rotate(45deg);
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }
}
