.counter {
  position: relative;
  display: flex;

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: $green-900;
    transition: background-color 0.3s, box-shadow 0.2s, color 0.2s;

    &:hover {
      background-color: $green-600;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
      background-color: $green-900;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
      color: rgba($white, 0.5);
    }
  }

  &__minus,
  &__plus {
    height: 2px;
    width: 16px;
    background-color: $white;
    border-radius: 2px;
  }

  &__plus {
    &::after {
      @include pseudo;
      top: 4px;
      left: 11px;
      height: 16px;
      width: 2px;
      background-color: $white;
      border-radius: 2px;
    }
  }

  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    background-color: rgba($green-900, 0.1);
  }
}
