.filter-cat {

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
  }

  &__label {
    margin-bottom: 12px;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: $dark-500;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }
}