.footer {
  background-color: $dark-800;
  color: $white;

  &__inner {
    padding: 30px 0 20px;

    @include mq("tablet-2") {
      padding: 24px 0 16px;
    }

    @include mq("tablet") {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @include mq("tablet") {
      flex-direction: column;
      align-items: center;
    }

    @include mq("phone-2") {
      margin-bottom: 10px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;

    @include mq("tablet-2") {
      margin-bottom: 15px;
    }

    @include mq("tablet") {
      margin-bottom: 25px;
    }

    img {
      @include mq("tablet") {
        width: 100%;
      }
    }
  }

  &__messege {
    display: block;
    margin-bottom: 18px;
    line-height: 1;
  }

  &__subscribe {
    margin-right: 65px;

    @include mq("desktop") {
      margin-right: 40px;
    }

    @include mq("tablet-2") {
      margin-right: 10px;
    }

    @include mq("tablet") {
      order: 3;
    }
  }

  &__form {
    max-width: 305px;
    @include mq("phone-2") {
      max-width: 290px;
    }
  }
  &__form-input {
    padding: 10px;
    padding-right: 65px;
    padding: 10px 135px 10px 12px;
    background-image: none;
    letter-spacing: normal;

    &::placeholder {
      color: #4f4f4f;
    }

    @include mq("tablet") {
      display: inline-block;
    }
  }

  &__form-btn {
    padding: 12px 14px 11px;
    font-size: 12px;
    background-color: $green-900;
    font-weight: 700;

    &:hover {
      background-color: #4d800c;
    }

    &:active {
      color: rgba($white, 0.5);
    }

    @include mq("tablet") {
      position: absolute;
      width: auto;
      border-radius: 0 6px 6px 0;
    }

    @include mq("phone-2") {
      padding: 12px 6px 11px;
    }
  }

  &__border {
    border-top: 1px solid rgba($white, 0.1);
  }

  &__container {
    @include mq("tablet") {
      display: flex;
      justify-content: center;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    @include mq("tablet") {
      flex-direction: column;
    }
  }

  &__copyright {
    @include mq("tablet") {
      order: 2;
    }
  }

  .menu {
    position: relative;

    @include mq("desktop") {
      column-gap: 40px;
    }

    @include mq("tablet-2") {
      column-count: 2;
      column-gap: 30px;
      margin-right: 0;
    }

    @include mq("tablet") {
      column-gap: 40px;
      margin: 0 0 27px 45px;
    }

    @include mq("phone-2") {
      order: 2;
      padding: 24px 0 12px;
    }

    @include mq("phone") {
      &::before,
      &::after {
        @include pseudo;
        right: -15px;
        left: -70px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        height: 1px;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }

    &__item {
      padding: 2px 0;

      @include mq("tablet") {
        max-width: fit-content;
      }

      &:not(:last-child) {
        margin-bottom: 14px;

        @include mq("tablet") {
          margin-bottom: 15px;
        }
      }
    }
  }

  .payment {
    @include mq("tablet") {
      margin-bottom: 24px;
    }
  }

  .social {
    @include mq("tablet") {
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  .overlay-close:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }

  .overlay.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
