<section class="advantage">
  <div class="container">
    <h2 class="sr-only">Наши преимущества</h2>

    <ul class="advantage__list">

      <li class="advantage__item advantage__item--scooter">
        <h3 class="advantage__heading">Бесплатная доставка</h3>
        <div class="advantage__text">
          <p>
            Для заказов на сумму от 500 ₽
          </p>
        </div>
      </li>

      <li class="advantage__item advantage__item--refund">
        <h3 class="advantage__heading">Возврат товара</h3>
        <div class="advantage__text">
          <p>
            Если товары были испорчены
          </p>
        </div>
      </li>

      <li class="advantage__item advantage__item--24hours">
        <h3 class="advantage__heading">Поддержка 24/7</h3>
        <div class="advantage__text">
          <p>
            Лучшие операторы
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>