<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <a class="logo footer__logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="Логотип" width="200" height="60">
      </a>

      <div class="footer__top">

        <div class="footer__subscribe">
          <span class="footer__messege">Следите за нашими акциями</span>
          <form class="form footer__form">
            <label class="sr-only" for="mail">Форма подписки</label>
            <input class="form__input footer__form-input" type="email" id="mail" name="mail"
              placeholder="email@email.com" required>
            <button class="form__btn footer__form-btn" type="button" id="mail">подписаться</button>
          </form>
        </div>

        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link anim" href="">О нас</a>
          </li>
          <li class="menu__item">
            <a class="menu__link anim" href="">Контакты</a>
          </li>
          <li class="menu__item">
            <a class="menu__link anim" href="">Публичная оферта</a>
          </li>

          <li class="menu__item">
            <a class="menu__link anim" href="">Оплата и доставка</a>
          </li>
          <li class="menu__item">
            <a class="menu__link anim" href="">Вакансии</a>
          </li>
          <li class="menu__item">
            <a class="menu__link anim" href="">Акции</a>
          </li>

          <li class="menu__item">
            <a class="menu__link anim" href="">Отзывы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link anim" href="">Новости</a>
          </li>
        </ul>

        <address class="contact">
          <ul class="contact__list">
            <li class="contact__item">
              <a class="contact__link anim" href="tel:+7907288365">
                Горячая линия+7 907 288 365
              </a>
            </li>
            <li class="contact__item">
              <a class="contact__link anim" href="#">Санкт-Петербург, ул. Ленина, 1
              </a>
            </li>
          </ul>

          <ul class="social">
            <li class="social__item">
              <span class="sr-only">Наш фейсбук</span>
              <a class="social__link" href="#" target="_blank">
                <svg class="social__icon">
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <span class="sr-only">Наш ютуб</span>
              <a class="social__link" href="#" target="_blank">
                <svg class="social__icon">
                  <use xlink:href="images/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <span class="sr-only">Наш телеграм</span>
              <a class="social__link" href="#" target="_blank">
                <svg class="social__icon">
                  <use xlink:href="images/sprite.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <span class="sr-only">Наш инстаграм</span>
              <a class="social__link" href="#" target="_blank">
                <svg class="social__icon">
                  <use xlink:href="images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
  <div class="footer__border"></div>
  <div class="container">
    <div class="footer__bottom">
      <span class="footer__copyright">© 2021 ФРЕШОК</span>
      <ul class="payment">
        <li class="payment__item">
          <a class="payment__link" href="#">
            <img class="payment__img" src="images/icons/icon-visa.svg" width="93" height="29" alt="Виза">
          </a>
        </li>
        <li class="payment__item">
          <a class="payment__link" href="#">
            <img class="payment__img" src="images/icons/icon-mc.svg" width="49" height="29" alt="Мастеркард">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="overlay"></div>
</footer>