<div class="popup-menu">
  <nav class="popup-menu__nav">
    <div class="popup-menu__top">

      <a class="logo" href="#">
        <img class="logo__img popup-menu__logo" src="images/popup-logo.svg" alt="Логотип" width="200" height="60">
        </picture>
      </a>
      <button class="burger burger-close" type="button">
        <span class="burger__item"></span>
        <span class="sr-only">Закрыть меню</span>
      </button>
    </div>

    <ul class="user-nav">
      <li class="user-nav__item user-nav__item--enter">
        <button class="user-nav__btn" type="button">
          <svg class="user-nav__icon">
            <use xlink:href="images/sprite.svg#icon-user"></use>
          </svg>
          Вход
        </button>
      </li>
      <li class="user-nav__item">
        <button class="user-nav__btn" type="button">Регистрация</button>
      </li>
    </ul>

    <div class="catalog">
      <button class="catalog__btn" type="button">
        <span class="catalog__burger"></span>
        Каталог товаров
      </button>

      <ul class="catalog__list">
        <li class="catalog__item">
          <a class="catalog__link" href="#">Овощи и фрукты</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Бакалея</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Молочные продукты</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Хлеб</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Мясо</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Колбаса</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Рыба</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Алкоголь</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Напитки</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Торты</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Мясо</a>
        </li>
        <li class="catalog__item">
          <a class="catalog__link" href="#">Чай, кофе</a>
        </li>
      </ul>
    </div>
  </nav>

  <address class="popup-menu__address">
    <ul class="popup-menu__contact">
      <li class="popup-menu__contact-item">
        <a class="popup-menu__contact-link popup-menu__contact-link--tel anim" href="tel:+7907288365">
          +7 907 288 365
        </a>
      </li>
      <li class="popup-menu__contact-item">
        <a class="popup-menu__contact-link popup-menu__contact-link--address anim" href="#">Санкт-Петербург, ул.
          Ленина, 1
        </a>
      </li>
    </ul>

    <ul class="social">
      <li class="social__item">
        <span class="sr-only">Наш фейсбук</span>
        <a class="social__link" href="#" target="_blank">
          <svg class="social__icon">
            <use xlink:href="images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <span class="sr-only">Наш ютуб</span>
        <a class="social__link" href="#" target="_blank">
          <svg class="social__icon">
            <use xlink:href="images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <span class="sr-only">Наш телеграм</span>
        <a class="social__link" href="#" target="_blank">
          <svg class="social__icon">
            <use xlink:href="images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <span class="sr-only">Наш инстаграм</span>
        <a class="social__link" href="#" target="_blank">
          <svg class="social__icon">
            <use xlink:href="images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </address>

  <ul class="menu">
    <li class="menu__item">
      <a class="menu__link anim" href="">Доставка</a>
    </li>
    <li class="menu__item">
      <a class="menu__link anim" href="">О Нас</a>
    </li>
    <li class="menu__item">
      <a class="menu__link anim" href="">Новости</a>
    </li>
    <li class="menu__item">
      <a class="menu__link anim" href="">Контакты</a>
    </li>
    <li class="menu__item">
      <a class="menu__link anim" href="">Акции</a>
    </li>
    <li class="menu__item">
      <a class="menu__link anim" href="">Вакансии</a>
    </li>
    <li class="menu__item">
      <a class="menu__link anim" href="">Отзывы</a>
    </li>
    <li class="menu__item">
      <a class="menu__link anim" href="">Публичная оферта</a>
    </li>
  </ul>

</div>