.hero-slider {
  position: relative;

  &__item {
    @extend %bg;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

    @include mq("desktop") {
      height: 450px;
    }

    @include mq("tablet-2") {
      height: 400px;
    }

    @include mq("phone-2") {
      height: 320px;
    }
  }

  &__inner {
    display: block;
    max-width: 1290px;
    width: 100%;
    padding: 24px 0 35px 26px;
    color: $dark-500;
    border-radius: 4px;
    background-color: rgba($white, 0.8);

    @include mq("desktop-2") {
      max-width: 900px;
    }

    @include mq("desktop") {
      max-width: 600px;
    }

    @include mq("tablet-2") {
      max-width: none;
    }

    @include mq("phone") {
      width: 375px;
      padding: 15px 15px;
    }
  }

  &__title {
    max-width: 770px;
    margin-bottom: 12px;
    font-family: "Ruda";
    font-weight: 900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    @include line-clamp(3);

    @include mq("desktop") {
      font-size: 40px;
    }

    @include mq("tablet-2") {
      max-width: 500px;
      font-size: 35px;
    }

    @include mq("tablet") {
      max-width: 400px;
      font-size: 30px;
    }

    @include mq("phone-2") {
      max-width: 280px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__subtitle {
    color: $red-900;
  }

  &__text {
    margin-bottom: 42px;
    font-size: 16px;
    @include line-clamp(3);

    @include mq("tablet") {
      margin-bottom: 28px;
    }
  }

  &__arrow {
    position: absolute;
    z-index: 1;
    top: 270px;
    width: 60px;
    height: 60px;
    padding-top: 5px;
    border-radius: 6px;
    background-color: rgba($white, 0.8);
    fill: $dark-500;
    transition: background-color 0.3s, fill 0.3s;

    @include mq("desktop") {
      top: 200px;
    }

    & svg {
      width: 18px;
      height: 32px;
    }

    &--prev {
      left: 60px;
    }

    &--next {
      right: 60px;
    }

    &:hover {
      background-color: $green-200;
      fill: $green-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
      border-radius: 6px;
    }

    &:active {
      background-color: #f3f3f2;
      fill: $green-900;
    }
  }

  .btn {
    @include mq("tablet") {
      display: inline-block;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .slick-disabled {
    background-color: rgba($white, 0.8);
    fill: $silver-600;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 25px;
    display: flex;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;

    @include mq("phone-2") {
      bottom: 18px;
    }
  }

  .slick-dots li {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  .slick-dots button {
    width: 10px;
    height: 10px;
    border: 1px solid $silver-600;
    border-radius: 50%;
    font-size: 0;
    background-color: $white;
  }

  .slick-active button {
    background-color: $green-900;
    border-color: $green-900;
  }
}
