.shop-content {
  &__products {
    grid-template-columns: repeat(3, 1fr);
  }

  &__filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 48px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .jq-selectbox__select-text {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $dark-500;
  }

  .jq-selectbox__select {
    height: 47px;
    padding: 14px 42px 0 10px;
    background: transparent;
    box-shadow: none;
    border-bottom-color: transparent;
    border: 1px solid $silver-600;
    border-radius: 3px;

    &:active {
      background: $green-100;
      box-shadow: inset 1px 1px 3px $green-100;
    }
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border-color: $green-900;
  }

  .jq-selectbox__trigger {
    top: 2px;
    border-left: none;
  }

  .jq-selectbox li:hover {
    background-color: transparent;
    color: $green-900;
  }

  .jq-selectbox li.selected {
    background-color: transparent;
    color: $green-900;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 16px;
    width: 11px;
    height: 6px;
    border: none;
    @extend %bg;
    background-image: url("../../images/icons/icon-arrow.svg");
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: $silver-100;
    border-radius: 3px;
  }

  &__icon {
    width: 36px;
    height: 34px;
    fill: $silver-600;
  }
}
