.top-products {
  text-align: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(auto, 410px));
    grid-gap: 30px;
    margin-bottom: 48px;
    text-align: left;

    @include mq("desktop") {
      grid-gap: 25px;
      grid-template-rows: repeat(2, 1fr);
    }

    @include mq("tablet-2") {
      grid-gap: 15px;
      margin-bottom: 30px;
    }

    @include mq("tablet") {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      margin-bottom: 24px;
    }

    @include mq("phone-2") {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);
      grid-gap: 5px;
    }
  }

  &__btn {
    padding: 12px 24px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    border: 1px solid $green-900;
    border-radius: 6px;
    color: $green-900;
    background-color: $white;
    transition: background-color 0.3s, box-shadow 0.2s;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      background-color: $green-100;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
      background-color: $white;
      color: $green-900;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba($black, 0.1);
      color: rgba($green-900, 0.5);
    }
  }
}
